#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/dpkg/default.mk

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PKGNAME=libcassandra2

%:
	dh $@

override_dh_auto_install:
	dh_auto_install

override_dh_auto_configure:
	dh_auto_configure -- -DCASS_BUILD_STATIC=ON -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=RelWithDebInfo -DCMAKE_INSTALL_LIBDIR=lib/$(DEB_HOST_MULTIARCH)

override_dh_strip:
	dh_strip --dbg-package=$(PKGNAME)-dbg

override_dh_makeshlibs:
	dh_makeshlibs -V

override_dh_auto_test:
